
*{
    width: 100%;
    height: 100;
    }

    html {
      overflow-y: scroll;
      scroll-behavior: smooth;
  }
    
    body{
      background: rgb(230, 245, 252);
     
        color: rgb(255, 255, 255);
        background-repeat: no-repeat;
      margin: 0px;
      margin-top: 8px;
      display: inline-block;
      font-family: 'Martel Sans', sans-serif;
    }

.todos-os-textos{
width: 100%;
height: 27em;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}


.htdiv{

    margin-top: 150px;
    width: 70%;
    text-align: center;
    font-family: 'Martel Sans', sans-serif;
         
    }
    
    
    
    .h1t{
      color: #1d1e1f;
      font-size: 32px;
    }
    .h2t{
      margin-top: 20px;
      display:inline-block ;
      color: #1d1e1f;
      font-size: 19px;
      line-height: 41px;
    }
    
    .pcjm{
      color: rgb(2, 74, 156);
      display:inline-block ;
      width: 200px;
      margin: 0px;
    }


.parceiros{
margin-top: 20px;
width: 100%; 
position: absolute;
height: 200px;
left: 0px;
top: 489px;
background: #e9f4fa;
box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.div-img-parceiros-1{
width: 100%;

}



.div-img-parceiros-1-img{
width: 90px;
margin-left: 625px;
margin-top: 5px;


}

.div-img-parceiros-1-texto{
font-size: 15px;
text-align: center;
color: rgb(2, 74, 156) ;
}

.h2div1{

height: 200px;
width: 100%;

}

.h2t2{


margin-top: 20px;

color: rgb(2, 74, 156) ;

text-align: center;
font-size: 25px;
}

.div3nossas-missõ{
width: 100%;
margin-top: 370px;
color: #282d32;

}


.h2t3{

font-size: 25px;
  margin-top: 20px;
  
  color: rgb(2, 74, 156) ;
  
  text-align: center;
  }
.texto-nossas-n{
  margin-top: 500%;
  width: 40%;
 
margin-top: 20px; 
position: absolute;

}

.h2t31{

  font-size: 25px;
    margin-top: 200px;
    
    color: rgb(2, 74, 156) ;
    
    text-align: center;
    }
  .texto-nossas-n{
    margin-top: 500%;
    width: 40%;
   
  margin-top: 40px; 
  position: absolute;
  
  }

  .texto-nossas-n-h31{
font-size: 19px;
margin-left: 20%;
margin-top: 20px;
display: inline-block;  
line-height: 41px;
  }

    



.div4-inspiration-img{

 
  width: 523px;
  height: 488px;
  margin-left: 53%;
  background: #353F45;
  border-radius: 70px;
display: inline-block;  

margin-top: 50px;

}



.div4-inspiration-img1{


  width: 205px;
  height: 243px;
  margin-top: 30px;
  margin-left: 37px;
  position: absolute;
  background: #F5F5F5;
  border-radius: 49px;
  display: inline-block;  

}
.div4-inspiration-img2{


  width:  226px;
  height: 159px;
  margin-top: 40px;
  margin-left: 260px;
  
  background: #F5F5F5;
  border-radius: 49px;
  display: inline-block;  

}
.div4-inspiration-img3{


  width:  226px;
  height: 159px;
  margin-top: 85px;
  margin-left: 37px;
  
  background: #F5F5F5;
  border-radius: 49px;
  display: inline-block;  

}


.div4-inspiration-img4{


  width: 205px;
  height: 243px;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  background: #F5F5F5;
  border-radius: 49px;
  display: inline-block;  

}

.div5-c-equipe{
  width: 100%;
margin-top: 100px;

}


.div5-c-equipe-box-three{
  width: 1114px;
  height: 382px;
  margin-left: 109px;
  background: #383838;
  border-radius: 70px;

  margin-top: 70px;
}
.div5-c-equipe-box-1{
  width: 269px;
  height: 391px;
  background: #F5F5F5;
  border-radius: 70px;
  margin-top: 59px;
  margin-left: 137px;
  position: absolute;
  display: inline-block;  
  color: #383838;
}


.div5-c-equipe-box-2{
  width: 269px;
  height: 391px;
  background: #F5F5F5;
  border-radius: 70px;
  margin-top: 59px;
  margin-left: 420px;
  display: inline-block;  
  color: #383838;
}


.div5-c-equipe-box-3{
  width: 269px;
  height: 391px;
  background: #F5F5F5;
  border-radius: 70px;
  margin-top: 59px;
  margin-left: 10px;
  display: inline-block; 
  color: #383838; 
}

.div6-c-equipe{
  width: 100%;
margin-top: 170px;

}

.div6-c-equipe-box-three{
  width: 70%;
  height: 80px;
  margin-left: 15%;
  background: #F3FBFF;
  border-radius: 30px;

  margin-top: 50px;

}

.div6-c-equipe-box-three2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}





.div6-c-equipe-box-1{
  width: 50px;
  height: 50px;
  border: solid;
  border-color:#353F45 ;
  border-radius: 70px;
  margin-top: 15px;

  
  display: inline-block;  
  color: #1d1e1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.div6-c-equipe-box-2{
  width: 50px;
  height: 50px;
  border: solid;
  border-color:#353F45 ;
  border-radius: 70px;
  margin-top: 15px;
  margin-left: 20px;
  display: inline-block;
    color: #1d1e1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
}


.div6-c-equipe-box-3{
  width: 50px;
  height: 50px;
  border: solid;
  border-color:#353F45 ;
  border-radius: 70px;
  margin-top: 15px;
  
  display: inline-block;  
  margin-left: 20px;
  color: #1d1e1f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.div4-inspiration-img12{
  margin-top: 40px;
}

.div5-c-equipe-box-21{
  width: 200px;
  margin-top: 20px;
  margin-left: 35px;
  border-radius: 30px;
}
.div5-c-equipe-box-22{
  width: 200px;
  margin-top: 20px;
  margin-left: 35px;
  border-radius: 30px;
}
.div-nomes{
  width: 100%;
}


.nomes{
font-size: 15px;
margin-top: 10px;

text-align: center;
}




    
    .footer-dark {
        padding:50px 0;
        color:#f0f9ff;
        background-color:#282d32;
        margin-top: 200px;
        border-radius: 30px;
      }
      
      .footer-dark h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
      }
      
      .footer-dark ul {
        padding:0;
        list-style:none;
        line-height:1.6;
        font-size:14px;
        margin-bottom:0;
      }
      
      .footer-dark ul a {
        color:inherit;
        text-decoration:none;
        opacity:0.6;
      }
      
      .footer-dark ul a:hover {
        opacity:0.8;
      }
      
      @media (max-width:767px) {
        .footer-dark .item:not(.social) {
          text-align:center;
          padding-bottom:20px;
        }
      }
      
      .footer-dark .item.text {
        margin-bottom:36px;
      }
      
      @media (max-width:767px) {
        .footer-dark .item.text {
          margin-bottom:0;
        }
      }
      
      .footer-dark .item.text p {
        opacity:0.6;
        margin-bottom:0;
      }
      
      .footer-dark .item.social {
        text-align:center;
      }
      
      @media (max-width:991px) {
        .footer-dark .item.social {
          text-align:center;
          margin-top:20px;
        }
      }
      
      .footer-dark .item.social > a {
        font-size:20px;
        width:36px;
        height:36px;
        line-height:36px;
        display:inline-block;
        text-align:center;
        border-radius:50%;
        box-shadow:0 0 0 1px rgba(255,255,255,0.4);
        margin:0 8px;
        color:#fff;
        opacity:0.75;
      }
      
      .footer-dark .item.social > a:hover {
        opacity:0.9;
      }
      
      .footer-dark .copyright {
        text-align:center;
        padding-top:24px;
        opacity:0.3;
        font-size:13px;
        margin-bottom:0;
      }    


